@use '../../foundation/base/f-font-family' as font;
@use '../../foundation/mixin/f-flex' as flex;

.footer{
    text-align: center;
    height: 6rem;
    margin-top: 10rem;
    @include flex.flex();
    &__text{
        @include font.font-roboto-bold($fontsize:2rem,$lineHeight:normal);
    }
}
@media screen and (max-width: 768px) {
    .footer{
        margin-top: 6rem;
        &__text{
            font-size: 1.4rem;
        }
    }
}