@use '../../../foundation/class-mixin/f-title-content' as title;
@use '../../../foundation/mixin/f-flex' as flex;
@use '../../../foundation/mixin/f-inner' as inner;
@use '../../../foundation/base/f-font-family' as font;
@use '../../../foundation/class-mixin/f-card-content' as card;
@use '../../../foundation/class-mixin/f-swiper' as swiper;

.works{
    margin-top: 8rem;
    padding-bottom: 8rem;
    padding-top: 8rem;
    flex-direction: column;
    @include flex.flex($gap:6rem);
    @include title.title-content($margin-bottom:0);
    @include inner.inner($padding-left:8rem,$padding-right:8rem);
    &__slide-box{
        width: 100%;
        height: 50rem;
        padding: 3rem;
        border-radius: 1.5rem;
        @include swiper.swiper();
    }
}
@media screen and (max-width: 768px) {
    .works{
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 6rem;
        padding-top: 6rem;
        &__slide-box{
            height: 17rem;
        }
    }
}