@use '../../../foundation/class-mixin/f-title-content' as title;
@use '../../../foundation/mixin/f-flex' as flex;
@use '../../../foundation/mixin/f-inner' as inner;
@use '../../../foundation/base/f-font-family' as font;
@use '../../../foundation/class-mixin/f-blog-flex' as blogflex;

.blog{
    padding-bottom: 8rem;
    flex-direction: column;
    @include flex.flex($gap:6rem);
    @include title.title-content($margin-bottom:0);
    @include inner.inner($padding-left:8rem,$padding-right:8rem);
    &__content{
        width: 100%;
        height: auto;
        padding: 5rem 5rem 0 5rem;
        border-radius: 1.5rem;
        &--box-one{
            width: 100%;
            height: auto;
            @include blogflex.blog-flex();
        }
        &--box-two{
            width: 100%;
            height: auto;
            @include blogflex.blog-flex($orderimg:1,$ordertext:2);
        }
    }
}